<div class="container h-100">
    <div class="error-holder d-flex align-content-end">
        <div class="error__wrapper d-flex">
            <div class="d-flex error__wrapper ">
                <div class="error__text">
                    <div class="error-title">
                        <h1 class="font-weight-bold">Kamu Tersesat</h1>
                    </div>
                    <div class="error-content">
                        <p>
                            <b>Periksa kembali link anda, pastikan anda mengakses link toko yang benar.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
