/* css for loading page */
.center {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* css for image container page */
img.image-container {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
